* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  padding: 15px;
}

.app {
  display: flex;
}

.chip {
  border: 1px solid gray;
  height: 20px;
  margin: 2.5px;
  text-align: center;
  width: 20px;
}
